@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #D18B49;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;

    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 48px;
    text-align: center;
    transition: height 0.5s ease;
  }
  
.card h1,
.card p,
.edit-title,
.edit-textarea {
  flex-grow: 1; /* Ensure elements grow to fill space */
  margin: 0 0 12px; /* Consistent margin for all elements */
}
  

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  margin-top: auto;
  width: 100%;
}

.footer a {
  text-decoration: none;
}

.center {
  flex-grow: 1;
  text-align: center;
}

  .title {
      margin: 0 0 12px;
  font-size: 24px;
  color: #D18B49;

  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  font-family: inherit; /* Ensures same font */
  transition: 0.5s ease;
   -webkit-transition: 0.5s ease;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  line-height: 1.2; /* Match h1 line height */
  padding: 0;
  }
  
  .description {
      font-size: 16px; 
  color: inherit;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  padding: 0;
  }

  .admin-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .admin-controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .edit-button, .delete-button, .save-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }

.edit-title {
  margin: 0 0 12px;
  font-size: 24px;
  color: #D18B49;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  font-family: inherit;
  transition: 0.5s ease;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  line-height: 1.2;
  height: auto; /* Allow height to adjust */
  min-height: 40px; /* Match the height of <h1> */
   padding: 0; 
}

.edit-textarea {
  font-size: 16px;
  color: inherit;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  font-family: inherit;
  line-height: 1.6em;
  height: auto; /* Allow height to adjust */
  min-height: 60px; /* Match the height of <p> */
  margin: 0 0 48px; /* Match the margin of <p> */
   padding: 0; 
  
}
