body {
    background: #D18B49;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;

    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 48px;
    text-align: center;
    transition: height 0.5s ease;
  }
  
  .card h1,
  .card p {
    flex-grow: 1;
  }
  

  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin-top: auto; /* Pushes it to the bottom */
  }

  .title {
    margin: 0 0 12px;
    color: #D18B49;
    font-size: 24px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  .description {
    margin: 0 0 48px;
  }


